@page "/"
<div>
    <h2>
        This application allows you to download your data from <a target="_blank" href="https://www.fatsecret.com/">
            <u>FatSecret.com</u>
        </a>
    </h2>
    <br />
    <h4>(An account on FatSecret.com is required to use this application)</h4>
    <h3>(This only works from a desktop web browser - not a mobile device with the FatSecret app)</h3>
    <h3>(This site only works with Microsoft Edge, Mozilla Firefox, Google Chrome, and Safari)</h3>
</div>
<br />
<div>
    <h4>
        Click the <a href="/getdata">
            <u>[Get Data]</u>
        </a> link to get started
    </h4>
</div>
<br />
<img src="images/FatSecret-1-small.gif" />
<br />
<br />
<br />
<div>
    <a target="_blank" href="https://www.Radzen.com/">
        <img src="images/RadzenLogo.png" />
    </a><br />
    This Application uses controls by <a target="_blank" href="https://razor.radzen.com/get-started">
        <u>https://razor.radzen.com/get-started</u>
    </a>
</div>
<br />
<br />
<div>
    <h6><b>Version:</b> 12/04/2019 (1)</h6>
</div>