@page "/"
    <div>
        <h2>
            This application allows you to download your data from <a target="_blank" href="https://www.fatsecret.com/">
                <u>FatSecret.com</u>
            </a>
        </h2>
        <h4>(an account on FatSecret.com is required to use this application)</h4>        
    </div>
<br />
    <div>
        <h4>Click the <a href="/getdata">
                          <u>[Get Data]</u>
</a> link to get started</h4>
    </div>
    <br /><br /><br /><br /><br />
<div>
    
    <a target="_blank" href="https://www.Radzen.com/">
        <img src="images/RadzenLogo.png" />
    </a><br />
        This Application uses controls by <a target="_blank" href="https://razor.radzen.com/get-started">
        <u>https://razor.radzen.com/get-started</u>
        </a>
</div>
@code {

}