@page "/powerbi"


<p>
    <img alt="FatSecret PowerBI" longdesc="FatSecret PowerBI" src="images/PowerBI_1.jpg" />&nbsp;
</p>
<p>
    You can analyze your data, exported with the <a href="https://fatsecret.azurewebsites.net/">
        Fat Secret Data exporter
    </a>, in
    <a href="https://powerbi.microsoft.com/" target="_blank">Microsoft Power BI</a>.
</p>
<h4>Step 1:</h4>
<p><a href="https://powerbi.microsoft.com/en-us/get-started/">Install Power BI</a></p>
<h4>Step 2:</h4>
<p>Download the <a href="PowerBI/FatSecret.zip">FatSecret.zip</a> file.</p>
<h4>Step 3:</h4>
<p>
    <img alt="FatSecret PowerBI" longdesc="FatSecret PowerBI" src="images/PowerBI_3.gif" />
</p>
<p>Unzip the file on your computer to <strong>C:\FatSecret</strong></p>
<h4>Step 4:</h4>
<p>
    <a href="https://fatsecret.azurewebsites.net/getdata">
        Export Your data using
        the Fat Secret Data exporter
    </a>.
</p>
<p>
    <img alt="FatSecret PowerBI" longdesc="FatSecret PowerBI" src="images/PowerBI_7.gif" />
</p>
<h4>Step 5:</h4>
<h4>
    <img alt="FatSecret PowerBI" longdesc="FatSecret PowerBI" src="images/PowerBI_8.jpg" />
</h4>
<p>
    <em>Rename</em> the files (by removing the data stamp in the file names) that
    were exported from <a href="https://fatsecret.azurewebsites.net/getdata">
        the Fat
        Secret Data exporter
    </a> to match the existing file names at <strong>
        C:\FatSecret
    </strong>.
</p>
<h4>Step 6:</h4>
<p>
    <img alt="FatSecret PowerBI" longdesc="FatSecret PowerBI" src="images/PowerBI_4.jpg" />
</p>
<p>
    <em>Replace</em> the <strong>.csv </strong>files in the <strong>
        <b>C:\FatSecret</b>
    </strong>
    directory with your new files.
</p>
<p><strong>Step 7:</strong></p>
<p>
    <img alt="FatSecret PowerBI" longdesc="FatSecret PowerBI" src="images/PowerBI_10.jpg" />
</p>
<p>Open the <strong>FatSecretPowerBI.pbix</strong> file in <strong>PowerBI</strong>.</p>
<p><img alt="" src="images/PowerBI_11.jpg" /></p>
<p>
    In <strong>PowerBI</strong> <em>click</em> the <strong>Refresh</strong>
    button.
</p>
<p><img alt="" src="images/PowerBI_12.jpg" /></p>
<p>The data will <em>refresh</em>.</p>
<p><strong>Step 8:</strong></p>
<p><img alt="" src="images/PowerBI_15.jpg" /></p>
<p><strong>Enjoy!</strong></p>

@code {

}
