@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://platform.fatsecret.com" style="align-content:center">
            <img src="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png"
                 srcset="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png 2x, https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x"
                 border="0" />
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
